 /* Estilo para las palabras dentro de la etiqueta strong */
 strong {
    font-size: 150%; /* Aumenta el tamaño de la fuente */
    color: #003366; /* Azul oscuro */
}

/* Estilo para la línea horizontal antes del párrafo */
p{
   
    margin-left: 130px; /* Añade margen a la derecha */
    border-top: 1px solid black;/* tamaño y color del subrayado por encima*/
    display: inline-block;/*la línea superior sólo ocupa ancho del texto*/
    line-height: 10px;/*altura de la línea*/
   
}